$white: #fff;
$light-grey: #f9f9f9;
$grey: #8c929d;
$text-bottom-margin: 20px;
$text-left-margin: 20px;
$link-color: #6b4fbb;
$text-color: #777;
$heading-color: #000;
$orange: #fa7035;
$drop-shadow: rgba(0, 0, 0, .1);
