body {
  background: $light-grey;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  margin-bottom: $text-bottom-margin;
}

ul,
ol {
  margin-bottom: $text-bottom-margin;
  padding-left: 0;

  ul,
  ol {
    margin-bottom: 0;
    margin-left: $text-left-margin;
  }
}

ul li {
  list-style: disc inside;
}

ol li {
  list-style: decimal inside;
}

blockquote {
  font-style: italic;
  margin: 0 $text-left-margin;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.top {
  background: $white;
  border-bottom: 1px solid darken($light-grey, 10%);
  color: $grey;
  margin-bottom: 20px;

  header {
    margin: 0 auto;
    max-width: 940px;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  img {
    margin-right: 10px;
    vertical-align: middle;
    width: 65px;

    @media only screen and (max-width: 450px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.page {
  color: $text-color;
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 960px;

  h1, h2 {
    color: $heading-color;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: 3fr 1fr;
  }
}

.changelog {
  @media only screen and (max-width: 600px) {
    grid-row: 2;
  }
}

.changelog article {
  background: $white;
  border-top: 4px solid $link-color;
  box-shadow: 0 2px 6px 0 $drop-shadow;
  margin-bottom: $text-bottom-margin;
  padding: 20px;
}

.sidebar aside {
  background: $white;
  border-top: 4px solid $orange;
  box-shadow: 0 2px 6px 0 $drop-shadow;
  padding: 20px;
}
